$beige-creme: #f5f5dc;
$marron-chocolat: #6b4423;
$or-rose: #ffc0cb;

@font-face {
  font-family: "test";
  src:
    local("BlairITC-Bold"),
    url("font/BlairITC-Bold.ttf") format("truetype");
}

body :root {
  font-family: "BlairITC-Bold";
}


* {
  font-family: "test", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
  list-style: none;
  outline: none;
  transition: all 0.4s ease-in-out;
}

body {
  background-color: #f5f5dc;
}
